#main {
    height:90vh; 
}

#hero {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height:100%; 
    background: url('../assets/background.jpg') center / cover no-repeat ; 
}

#text-content { 
    width:100%;
    height:100%;
    font-size: clamp(15px, 3vw, 30px);
}

#text-content span {
    color:#b65720;
}

#image-content {
    width: 50%;
    height:100%;
}

#image-content img {
    width: 100%;
    object-fit: cover;
    height:100%;
}

#to-products-btn{
    background-color: #b65720;
    width: 300px;
    height: fit-content;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    transition: transform ease-in-out 0.5s;
}

#to-products-btn:hover{
    transform: translateY(-5px);
}