:root{
    --bg-color:#202020;
    --accent-color:#b65720;
    --light-color:#F5F5F5;
    --font-1:'Bebas Neue', 'Roboto', sans-serif;
    --font-2: 'Roboto', sans-serif;
    --font-3:'Bellefair', serif;
}